body{
  background-color: #f0f2f4;
}


.navbar {
  background-color: #f0f2f4 !important;
  box-shadow: 2px 2px #888888; 
  }
  
   
  .navbar-brand {
    font-size: 1rem;

  }
  
   
  
  h1 {

  color: red;
  
  }
  

  h2 {
    color: gray;
  }

  .form-group{
    margin: 25px auto;
    width: 40%;
  }

  .form-control{
    margin: 5px 0;
  }
  